@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

:root {
  --dark-blue: #0A3871;
  --light-blue: #D8DFE8;
  --background-blue: #F3F5FC;
  --white: #FFFFFF;
  --dark-gray: #343A40;
  --light-gray: #495057;

}
/* Medidas Web Responsive */
/* Desktop: 1024px;
Tablet: 1023px-768px
Mobile: 767px-320px*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--background-blue);
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 70px;
  grid-area: header;
}
/* .logo {
  position: absolute;
  width: 120px;
  height: 48px;
  left: 40px;
  top: 40px;
} */

.grid {
  display: grid;
  /* grid-template-columns: 70% 30%; */
  grid-template-areas:
      "header header header"
      "content content sidebar"
      "footer footer footer";
  /* grid-template-columns: 2fr 1fr;
  grid-gap: 10px; */
}
.content {
  grid-area: content;
}
form {
  position: absolute;
  width: 577px;
  height: 48px;
  left: 240px;
  top: 168px;
}
form textarea {
  background: var(--background-blue);
  border: none;
  font-family: 'Inter', sans-serif;
  color: var(--dark-blue);
  font-weight: 400;
  font-size: 28px;
  padding: 5px;
}
form textarea:focus {
	outline: 2px solid var(--dark-blue);
}
form p {
  margin: 15px 0;
  font-size: 12px;
  color: var(--light-gray);
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.button__encrypter {
  background: var(--dark-blue);
  color: var(--light-blue);
  margin: 0 8px;
}
.button__decryptor {
  background: var(--light-blue);
  color: var(--dark-blue);
}
.button__encrypter,
.button__decryptor,
.button__copy {
  font-size: 16px;
  border-radius: 10px;
  padding: 8px;
  width: 260px;
  outline: none;
  border: 1px solid var(--dark-blue);
}

.content__side {
  background-color: var(--white);
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  grid-area: sidebar;

  /* position: absolute;
  width: 350px;
  height: 90%;
  left: 70%;
  top: 40px; */

  /* padding: 100px 32px; */
}

.content__side--img img {
  width: 270px;
  height: auto;
}
.content__side--text {
  margin: 15px 0;
  text-align: center;
  color: var(--dark-gray);
  /* display: none; */
}
.content__side--text .text__msg {
  font-size: 12px;
}
.content__side--text .text__msg--Encrypt {
  font-size: 18px;
  color: var(--light-gray);
}

.content__side--btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-top: 70px; */
}
.button__copy {
  color: var(--dark-blue);
  display: none;
  /* visibility: hidden; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
}
footer {
  position: absolute;
  bottom: 0;
  background-color: var(--dark-blue);
  width: 100%;
  height: 30px;
  margin: 400px 0 0 0;
  grid-area: footer;
}

footer p {
  color: var(--light-blue);
  font-size: 18px;
  text-align: right;
  padding: 5px;
}

/* Responsive */

/* @media screen and (max-width: 768px) {
  .content__side {
    position: relative;
  }
} */